@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<GoodsArrivalPendingCustomer>()
    .Name("goodsArrivalPendingCustomerGrid")

    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerCode).Title("Mã khách hàng").Width(90);
        columns.Bound(c => c.CustomerName).Title("Tên khách hàng").Width(190);
        columns.Bound(c => c.TransporterCode).Title("Mã người giao").Width(190);
        columns.Bound(c => c.TransporterName).Title("Tên người giao").Width(190);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập mã, tên, MST, địa chỉ, địa bàn khách hàng, hoặc mã kho</label>
                <input id="goodsArrivalPendingCustomerFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="goodsArrivalPendingCustomerFilter_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(Settings.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetCustomers", "GoodsArrivalAPIs", new { area = "Sales" }).Data("onAdditionalGetCustomers"))
        .ServerOperation(false)
    )
    .Selectable()
)

<script type="text/javascript">
    function onAdditionalGetCustomers(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function goodsArrivalPendingCustomerFilter_KeyUp() {
        var goodsArrivalPendingCustomerFilter = $("#goodsArrivalPendingCustomerFilter").val(), gridDetails = $("#goodsArrivalPendingCustomerGrid").data("kendoGrid");

        if (goodsArrivalPendingCustomerFilter && goodsArrivalPendingCustomerFilter.length >= "@Settings.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "CustomerCode", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "CustomerName", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "CustomerVATCode", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "CustomerTelephone", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "CustomerBillingAddress", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "CustomerEntireTerritoryEntireName", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "Addressee", operator: "contains", value: goodsArrivalPendingCustomerFilter },
                    { field: "WarehouseCode", operator: "contains", value: goodsArrivalPendingCustomerFilter }
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }


    $("#goodsArrivalPendingCustomerGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>
