@helper BlankToolbar()
{
    <button type="button" class="k-button" style="width:26px; padding-left:0px; padding-right:0px" > <img style="padding-bottom:1px" src="~/Content/Images/Mains/Size24/Close-python-24.png" /> </button>
}