@using TotalPortal.Configuration

@model TotalDTO.Commons.SearchBarcodeDTO

<div id="popupWindow"></div>

<div>
    @(Html.Kendo().Grid<TotalModel.Models.BarcodeJournal>()
        .Name("kendoGridIndex")
        .Columns(columns =>
        {
            columns.Bound(p => p.EntryID).DisplayNameTitle().Hidden();
            columns.Bound(p => p.EntryDate).Title("Ngày").Format("{0:dd/MM/yy}").Width(50).Filterable(false);

            columns.Bound(p => p.Reference).Title("Kho").Hidden().Width(10);

            columns.Bound(p => p.Reference).Title("PXK").Width(10).Filterable(false).HtmlAttributes(new { @class = "index-nav-column" }).ClientTemplate("<a href='" + Url.RouteUrl("Default", new { controller = "#= ControllerName #", action = "Edit" }) + "/#= EntryID #' target='_blank'>#=Reference#</a>");
            columns.Bound(p => p.Barcode).Title("ĐNGH").Width(128).Filterable(false);
            columns.Bound(p => p.BinLocationCode).Title("Mã KH").Width(60);
            columns.Bound(p => p.BlendingInstructionCode).Title("Tên KH").Width(218);
            columns.Bound(p => p.ShortName).Title("Diễn giải").Width(130);

            columns.Bound(p => p.Quantity).Title("SL").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Filterable(false).Width(50);
            columns.Bound(p => p.QuantityRemains).Title("QT").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Filterable(false).Width(50);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <button type="button" title="Nhấn vào đây để cập nhật dữ liệu mã vạch mới nhất" class="k-button" onclick="indexFilterText_KeyUp(true)"> <img src="~/Content/Images/New/Refresh-icon.png" /> Tìm dữ liệu bằng mã vạch </button>                
                @Html.EditorFor(d => d.BarcodeBase)
            </text>);
        })
        .Pageable()
        .Groupable(g => g.Enabled(false))
        .Filterable(g => g.Enabled(false))
        .Selectable()
        .Sortable(g => g.Enabled(false))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetBarcodeJournals", "BarcodeAPIs", new { area = "Commons" }).Data("onBarcodeJournals"))
            .PageSize(20)
            .Model(model =>
            {
                model.Id(x => x.EntryID);
            })
            .ServerOperation(false)
            )
        .HtmlAttributes(new { @class = "grid-class" }))
</div>

<script type="text/javascript">
    function onBarcodeJournals(e) {
        return {
            barcode: $("#BarcodeBase_Code").val()
        };
    }

    $("#BarcodeBase_Code").change(function (e) {
        $("#kendoGridIndex").data("kendoGrid").dataSource.read();
    })

    function indexFilterText_KeyUp(readDataSource) {
        $("#kendoGridIndex").data("kendoGrid").dataSource.read();
    }
</script>



